<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<footer class="footer-distributed">

    <div class="footer-right">

      <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
      <a href="#"><ion-icon name="logo-github"></ion-icon></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="link-1" href="/">Home</a>

        <a href="#">Blog</a>

        <a href="#">Pricing</a>

        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">
            <ion-icon name="call-outline"></ion-icon>Contact</a>
      </p>

      <p>Company Name &copy; 2015</p>
    </div>

  </footer>
  <link rel="stylesheet" href="/src/public/css/footer.css">