<link rel="stylesheet" href="/src/public/css/menu.css" />
<link rel="stylesheet" href="/src/public/js/menu.js" />

<header class="header">
  <nav class="nav">
    <a href="#" class="logo nav-link">ACOLITE S.O.S</a>
    <button class="nav-toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a href="/nosotros" class="nav-menu-link nav-link">Nosotros</a>
      </li>
      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Contáctanos</a>
      </li>

      <li class="nav-menu-item">
        <a href="/login" class="nav-menu-link nav-link nav-menu-link_active"
          >Iniciar Sesión</a
        >
      </li>
    </ul>
  </nav>
</header>
