<link rel="stylesheet" href="/src/public/css/menu.css">

<nav class="menu">
    <section class="menu__container">
        <h1>Acolite <spam>S.O.S</spams></h1>
    </section>
    <ul>
        <li>Inicio</li>
        <li>Nosotros</li>
        <li>Contáctanos</li>
        <li><a href="/login">Iniciar Sesión</a></li>
    </ul>
</nav>