{{#if session.estado_conexion}}
{{>navUsuario titulo = 'Acolite - Dashboard'}}

<body>
    <h6>Pagína de dashboard</h6>
    <h4>Bienvenido {{body.nombre1}} {{body.apellido1}} </h4>
</body>

{{>footer}}
{{else}}
<h2>error</h2>
{{/if}}