{{>header titulo = 'Acolite - Inicio'}}

<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/volverarriba.css">
<link rel="stylesheet" href="css/animaciones.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<body>
    <!-- boton de volver arriba-->
    <i class="ir-arriba"><img src="https://img.icons8.com/ios/10/000000/collapse-arrow--v1.png" /></i>

<div id="class" class="body">

<!-- carrusel general-->
<div class="cont">
        <div class="mySlides">
            <img src="img/Home/carrusel/imagen1.jpg" alt="imagen-1">
        </div>
        <div class="mySlides">
            <img src="img/Home/carrusel/imagen2.jpg" alt="">
        </div>
        <div class="mySlides">
            <img src="img/Home/carrusel/imagen3.jpeg" alt="">
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="elements">
            <span class="quadrate imgnext" onclick="currentSlide(1)"></span>
            <span class="quadrate imgnext" onclick="currentSlide(2)"></span>
            <span class="quadrate imgnext" onclick="currentSlide(3)"></span>
        </div>
    </div>
<br><br>
    <!-- Información adicional  -->
<div class="contenedorh">
    <div class="animadoIzquierda bordeIzquierdo" align="center">
      <img src="https://img.icons8.com/ios-glyphs/50/000000/car-service.png"/>
      <p id="phome">Nos especializamos en brindar<br>
                    el servicio que tu medio de<br>
                    transportediario merece, con<br>
                    mecánicos calificadosy aprobados<br>
                    por la comunidad, para asegurar <br>
                    la calidad máxima en atención y <br>
                    reparaciones precisas con expertos.
      </p>
    </div>
    <div class="contenedorvacioh "> </div>
    <div class="animadoAbajo bordeAbajo" align="middle">
      <img src="https://img.icons8.com/ios-filled/50/000000/tow-truck.png"/>
      <p id="phome">Cada día encontramos una nueva<br>
                    mejora para brindar a nuestros<br>
                    visitantes y usuarios por eso es <br>
                    que próximamente agregaremos a <br>
                    personas que puedan ayudarte a<br>
                    movilizar tu medio de transporte <br>
                    en caso de tener algún inconveniente<br>
                    mayor.
      </p>
    </div>
    <div class="contenedorvacioh"> </div>
    <div class="animadoDerecha  bordeDerecho" align="center">
      <img src="https://img.icons8.com/ios-filled/50/000000/tow-truck.png"/>
      <p id="phome">Cada día encontramos una nueva<br>
                    mejora para brindar a nuestros<br>
                    visitantes y usuarios por eso es <br>
                    que próximamente agregaremos a <br>
                    personas que puedan ayudarte a<br>
                    movilizar tu medio de transporte <br>
                    en caso de tener algún inconveniente<br>
                    mayor.
      </p>
    </div>
  </div>
<br><br><br>

    <!-- carrusel con tips-->
    <div class="Carousel animadoDerecha">
        <h2 id="noticiastexto">Noticias y cambios</h2>
        <div class="slick-list" id="slick-list">
            <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev"
                onclick="app.processingButton(event)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                    class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                    </path>
                </svg>
            </button>
            <div class="slick-track" id="track">
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="slick">
                    <div>
                        <a href="/">
                            <h4><small>Share Your Message</small>Watch</h4>
                            <picture>
                                <img src="img/Home/carrusel1.jpg" alt="Image">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            <button class="slick-arrow slick-next" id="button-next" data-button="button-next"
                onclick="app.processingButton(event)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                    class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                    </path>
                </svg>
            </button>
        </div>
        <div class="slick-list" id="slick-list">
            <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev"
                onclick="app.processingButton(event)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                    class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                    </path>
                </svg>
            </button>

        </div>
    </div>

    <!-- finaliza el carrusel de tips-->

    <!--Contacto-->
    <div class="contenedorc">
  <div class="contenedorvacioc"></div>
  <div class="redesT">
    <h3 class="texttitulo">¡Síguenos!</h3>
    <h3 class="textcard">Facebook</h3>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook redes"></i></a>
    <h3 class="textcard">Instagram</h3>
    <a href="#"><i class="fab fa-instagram redes"></i></a>
    <h3 class="textcard">Youtube</h3>
    <a href="#"><i class="fab fa-youtube redes"></i></a>

  </div>
  <div class="contenedormitadc"></div>
  <div class="contenedortextoc">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.57225522634!2d-78.52407352707267!3d-0.23016552054945327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5999d7f1317ef%3A0x99bc58bb0611a5e7!2sYavirac%2C%20Quito%20170111!5e0!3m2!1ses-419!2sec!4v1649794669846!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
</div>

<br><br><br>
</div>
</body>

{{>footer}}


<script src="javascript/home.js"></script>
<script src="javascript/volverarriba.js"></script>
<script src="javascript/animaciones.js"></script>
