{{>header titulo = 'Acolite - Login'}}
<link rel="stylesheet" href="/css/pantalladecarga.css">
<body>

  <div class="container__login">
    <form action="/login" method="post">
      <input type="email" name="email" class="input-separador" placeholder="Correo electrónico">
      <input type="password" name="password" class="input-separador" placeholder="Contraseña">
        {{#if alert}}
          <h3>{{mensaje}}</h3>
        {{/if}}
        <input id="abrir" type="submit" class="input-btn" value="Iniciar Sesión">
        <!-- Agregando modal-->
        <div id="miModal" class="modal">
          <div class="flex" id="flex">
            <div class="contenido-modal">
              <div class="modal-header flex">
                <h2>¡Error!</h2>
                <div class="close" id="close"></div>
              </div>
              <div class="modal-body">
                <p>Usted inicio sesión incorrecto</p>			
              </div>
            <div class="footer">
                <h3>Acolite S.O.S &copy;</h3>
            </div>
            </div>
          </div>
        </div>

    </form>
  </div>

</body>
{{>footer}}

<script src="/javascript/pantallacarga.js"></script>