
{{>header titulo = 'Acolite - Nosotros'}}

  <link rel="stylesheet" href="css/animaciones.css">
  <link rel="stylesheet" href="css/nosotros.css">
  <link rel="stylesheet" href="css/volverarriba.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  

<body class="nosotrosbody">
  <!-- boton de volver arriba-->
<i class="ir-arriba"><img src="https://img.icons8.com/ios/10/000000/collapse-arrow--v1.png"/></i>

<!--Banner Inicial-->
  <div class="banner banner-second">
      <div class="banner-container ">
        <h1 id="titulon">Nosotros</h1>
      </div>
  </div>



<div class="bodydiv animadosinanimacion">
  <!-- Imagenes, redes, objetivos, información -->
  <br><br>
  <!--quienes somos contenedor-->
<div class="contenedor">
    <div class="animadoAbajo objetivostexto bordegeneral textoscolor">
      <h2 class="textoscolor">¿Quiénes somos?</h2>
      <p>Acolite S.O.S, es una innovación para el mundo de los mecánicos de nuestro país,<br>
        brindandoles una ayuda en sus trabajos diarios, generando más oportunidades de <br>
        darse a conocer por su excelencia a la hora de atender a los usuarios que confien <br>
        en nuestro sistema.<br>
        <br>
       
      </p>
      <img src="img/Nosotros/Logo.png" alt="" class="imgquienes">
    </div>
  </div>
  <br><br>

<!--objetivos contenedor-->
<br>
  <div class="contenedor">
    <div class="animadoIzquierda objetivostexto bordeIzquierdo textoscolor">
      <h2 class="textoscolor">Misión</h2>
      <p>Brindar una solución fiable y garantizada<br>
       a las personas que tengan incidentes <br>
       mecánicos surgidos con sus medios de <br>
       transporte.
      </p>
    </div>
    <div class="contenedorvaciotexto"></div>
    <div class="animadoDerecha objetivostexto bordeDerecho textoscolor">
      <h2 class="textoscolor">Visión</h2>
      <p>Llegar a ser una empresa conocida a nivel<br>
       nacional y brindar un servicio con la más<br>
       alta calidad. <br>
      </p>
    </div>
  </div>
<br><br><br>

<!-- Equipo de trabajo-->
    <div class="titulo animadoAbajo"><h1 class="textoscolor">Equipo de Trabajo</h1></div>
    <br><br><br>
    <div class="contenedor animadoIzquierda textoscolor">
      <div class="contenedorimg">
        <ul>
          <li>
            <figure>
              <img src="img/Nosotros/Ricky.jpg" alt="" class="imgeneral">
              <figcaption>
                <h3 class="textcard">Redes</h3>
                <br>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook redes"></i></a>
              </figcaption>
            </figure>
          </li>
      </ul>
      </div>
      <div class="contenedorvacio"></div>
      <div class="contenedortexto textoscolor">
        <h3 class="cajadetexto textoscolor">Jonathan Zambrano</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempore aspernatur consequuntur. Vero
              nesciunt optio consequatur tenetur tempora ab, corporis dolorem modi. Nulla magnam quidem officiis,
              blanditiis ducimus rerum optio?</p>
      </div>
      <div class="contenedorvacio"></div>
    </div>
    <!--cierra parte Ricky-->

    <div class="contenedor animadoDerecha textoscolor">
        <div class="contenedortexto">
          <h3 class="cajadetexto textoscolor">Nicole Titumaita</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempore aspernatur consequuntur. Vero
              nesciunt optio consequatur tenetur tempora ab, corporis dolorem modi. Nulla magnam quidem officiis,
              blanditiis ducimus rerum optio?</p>
        </div>
      <div class="contenedorimg">
          <ul>
          <li>
            <figure>
              <img src="img/Nosotros/Nicole.jpg" alt="" class="imgeneral">
              <figcaption>
                <h3 class="textcard">Redes</h3>
                <br>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook redes"></i></a>
              </figcaption>
            </figure>
          </li>
      </ul>
        </div>
        <div class="contenedorvacio"></div>
    </div>

    <!--cierra parte Nicole-->

    <div class="contenedor animadoIzquierda">
        <div class="contenedorimg">
          <ul>
          <li>
            <figure>
              <img src="img/Nosotros/dylan.jpg" alt="" class="imgeneral">
              <figcaption>
                <h3 class="textcard">Redes</h3>
                <br>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook redes"></i></a>
              </figcaption>
            </figure>
          </li>
      </ul>
        </div>
        <div class="contenedorvacio"></div>
        <div class="contenedortexto textoscolor">
          <h3 class="cajadetexto textoscolor">Dylan Lucio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempore aspernatur consequuntur. Vero
              nesciunt optio consequatur tenetur tempora ab, corporis dolorem modi. Nulla magnam quidem officiis,
              blanditiis ducimus rerum optio?</p>
        </div>
    </div>
    <!--cierra parte Dylan-->
<br><br>
<!-- acaban las img y redes -->
</div>
</body>


{{>footer}}

<script src="javascript/animaciones.js"></script>
<script src="javascript/volverarriba.js"></script>
