<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

  <!-- Estilos -->
  <link rel="stylesheet" href="/src/public/css/nosotros.css" />

  <title>Nosotros</title>
</head>

<body>
  <%- include('template/menu'); %>

    <div class="contenedor">
      <div class="contenedor-cards">
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <img src="/src/public/img/cr-1.png" alt="" />
            <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Titulo</p>
                <span class="categoria">Categoría</span>
              </div>
              <div class="fondo"></div>
            </div>
          </div>
        </div>
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <img src="/src/public/img/cr-2.png" alt="" />
            <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Titulo</p>
                <span class="categoria">Categoría</span>
              </div>
              <div class="fondo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('template/footer'); %>
</body>

</html>