{{>navUsuario titulo = 'Acolite - Registrar Vehiculo'}}

<link rel="stylesheet" href="../../../css/pageconstruccion.css">

<body>
    <h6 id="titulo">Registrar vehiculos</h6>
    <div class="mantenimiento">
		<h1>Página web en construcción</h1>
		<p>Lo sentimos, no hemos encontrado un mensaje más original para decirte que estamos trabajando en ello.</p>
		<h2>Web disponible en:</h2>
		<p id="count-down-timer" class="timer"></p>
	</div>
</body>

<script src="../../../javascript/pageconstruccion.js"></script>