<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/src/public/css/registro.css">
</head>
<body>
    <div>
        <%- include('template/menu'); %>
    </div>
    <div>
        <form >
            <input type="text" placeholder="Nombre de usuario" name="usuario_nombre">
            <input type="email"  placeholder="Correo electr칩nico" name="usuario_email">
            <input type="password" placeholder="Contrase침a" name="password">
            <input type="checkbox" name="estado_cuenta">
            <input type="submit" value="Enviar">
        </form>

    </div>
    <div class="container">
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>		
		<form class="form__reg" action="/usuarios/crearUsuario" method="post">
			<input class="input" type="text" placeholder="Nombre de usuario"   name="usuario_nombre">
            <input class="input" type="email" placeholder="Correo electr칩nico" name="usuario_email">
            <input class="input" type="password" placeholder="Contrase침a" name="password">
            <input class="input" type="checkbox" name="estado_cuenta">
            <div class="btn__form">
            	<input class="btn__submit" type="submit" value="REGISTRAR">
            	<input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
		</form>
	</div>
	
</body>
</html>