<li>
                <li><a href=""><form action="/logOut" method="post" class="form__login">
                    <input name="salir" type="hidden" value="true">
                    <input name="contenido" type="hidden" value="{{body.id_usuario}}">
                    <input type="submit" value="Cerrar sesión"  class="button">
                </form></a></li>

                

            </li>