/*animaciones con js*/

                  /*animación derecha*/
                
                  .animadoDerecha{
                    opacity: 0;
                    transition: all 0.5s;
                }
                
                .mostrarDerecha{
                    animation: mostrarDerecha 1.5s;
                }
                
                
                @keyframes mostrarDerecha{
                    0% {
                        transform: translateX(50%);
                    }
                    100% {
                        transform: translateX(0);
                    }
                }
                
                                     /*animación Abajo*/
                                
                .animadoAbajo{
                    opacity: 0;
                    transition: all 0.5s;
                }
                
                .mostrarAbajo{
                    animation: mostrarAbajo 1.5s;
                }
                
                
                @keyframes mostrarAbajo{
                    0% {
                        transform: translateY(50%);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                
                
                                 /* animación izquierda*/
                
                .animadoIzquierda{
                    opacity: 0;
                    transition: all 0.5s;
                }
                
                .mostrarIzquierda{
                    animation: mostrarIzquierda 1.5s;
                }
                
                
                @keyframes mostrarIzquierda{
                    0% {
                        transform: translateX(-50%);
                    }
                    100% {
                        transform: translateX(0);
                    }
                }
                
                              /* animación sin efecto*/
                
                .animadosinanimacion{
                    opacity: 0;
                    transition: all 0.5s;
                }
                
                .mostrarsinanimacion{
                    animation: mostrarsinanimacion 1.5s;
                }
                
                @keyframes mostrarsinanimacion{
                    0% {
                        opacity: 0%;
                    }
                    25%{
                        opacity: 25%;
                    }
                    50%{
                        opacity:50%;
                    }
                    75%{
                        opacity: 75%;
                    }
                    100% {
                        opacity: 100%;
                    }
                }