<head>
    <!DOCTYPE html>
    <html lang="es">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>

<header>
   <form action="/logOut" method="post">
        <input name="salir" type="hidden" value="true">
        <input name="contenido" type="hidden" value="{{body.id_usuario}}">
        <input type="submit" value="Cerrar Sesión">
    </form>
</header>